<div  *ngIf="address">
  <h3 style="font-weight: bold">{{address.firstname | uppercase}} Details</h3>
      <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="address.firstname" placeholder="Firstname">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="address.lastname"  placeholder="Lastname">
              </mat-form-field>
            </td>
          </tr>
        </table>
        <p>
            <mat-form-field class="example-full-width">
              <textarea matInput [(ngModel)]="address.address1" placeholder="Address"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <textarea matInput [(ngModel)]="address.address2" placeholder="Address 2"></textarea>
            </mat-form-field>
          </p>
          <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="address.city" placeholder="City">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="address.state" placeholder="State">
                  </mat-form-field>
                </td>
                </tr>
                <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="address.pin" maxlength="6" placeholder="Postal Code">
                  </mat-form-field>
                </td>
              </tr>
            </table>
  <br/>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>&nbsp;
  <button mat-raised-button color="primary" (click)="onClickOk()">Save</button>
</div>