<mat-sidenav-container class="example-container">
    <mat-sidenav class="bg" mode="side" opened>
      <ul>
    <li>
      <a routerLink = "">
        <i class="material-icons">dashboard</i>
      </a>
    </li>
    <li>
      <a routerLink="heroes">
        <i class="material-icons">add_circle_outline</i>
      </a>
    </li>
  </ul>
    </mat-sidenav>
    <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>