  <mat-sidenav-container class="example-container">
      <mat-sidenav class="bg" mode="side" opened>
        <ul>
      <li>
          <i class="material-icons" (click)="gotoDashboard()">dashboard</i>
        
      </li>
      <li>
        
          <i class="material-icons" (click)="gotoAdd()">add_circle_outline</i>
        
      </li>
    </ul>
      </mat-sidenav>
      <mat-sidenav-content>Main content</mat-sidenav-content>
    </mat-sidenav-container>